@import "tailwindcss";

body {
  background: #000000;
  background: -webkit-linear-gradient(349deg, #000000 0%, #427AB5 100%);
  background: linear-gradient(349deg, #000000 0%, #427AB5 100%);
  min-height: 100vh;
}